<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Read data from testng.xml">
  <test  name="Peform data parameter">
  <parameter name="parametername" value="Omkar"></parameter>
    <classes>
      <class name="UI.DataParameterDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
